@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text-color: #06212D;
    --box-color: #D2EDF9;
    --width-lg: 1200px;
    --width-md: 992px;
    --width-sm: 768px;
    --width: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* TYPOGRAPHY */

h1{
    font-size: 4rem;
    font-weight: 300;
    color: var(--text-color);
    padding-bottom: 2rem;
    margin-top: 3rem;
}

/* HELPER */
.border-dashed{
    border-bottom: 1px dashed rgba(0,0,0,.15);
}
.text-center{
    text-align: center;
}




/* LAYOUTS */

.container{
    max-width: var(--width);
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 768px){
    .container{
        max-width: var(--width-sm);
    }
}
@media (min-width: 992px){
    .container{
        max-width: var(--width-md);
    }
}
@media (min-width: 1200px){
    .container{
        max-width: var(--width-lg);
    }
}


/* LAYOUT LINKS */

.tasks{
    display: grid;
    margin-top: 3.5rem;
    gap: 2rem;
}

@media (min-width: 768px){
   .tasks{
        grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 992px){
    .tasks{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px){
    
}

.tasks .task{
    list-style-type: none;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.tasks .task a{
    text-decoration: none;
    color: var(--text-color);
}
.tasks .task a:hover{
    text-decoration: underline;
}


/* TASK 1 GRID 1 */

.grid-1-1{
    display: grid;
    gap: 1.5rem;
    margin: 0 auto;
}

@media (min-width: 768px){
    .grid-1-1{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px){
    .grid-1-1{
        grid-template-columns: repeat(4, 1fr);
        margin-top: 108px;
        width: 100%;
    }
}


/* box */
.box{
    background-color: var(--box-color);
}

.box-1-1{
    height: 301px;
    /* width: 292px; */
}


/* TAKS 1 GRID 2 */

.grid-1-2{
    display: grid;
    grid-template-columns: [begin] 1fr [end];
    gap: 1.5rem;
    margin: 0 auto;
}

@media (min-width: 768px){
    .grid-1-2{
        grid-template-columns: [begin] 1fr [second] 1fr [end];
        grid-template-rows: auto auto;
    }
}
@media (min-width: 992px){
    .grid-1-2{
        grid-template-columns: [begin] 1fr [second] 2fr [third] 1fr [end];
        grid-template-rows: auto auto;
    }
}

@media (min-width: 1200px){
    .grid-1-2{
        grid-template-columns: [begin] 1fr [second] 2fr [third] 1fr [end];
        grid-template-rows: auto auto;
        margin-top: 108px;
        width: 100%;
    }
}




.box-1-2{
    height: 250px;
}
.box-1-2.bottom{
    height: 250px;
}

@media (min-width: 768px){
    .box-1-2.bottom{
        height: 250px;

    } 
}
@media (min-width: 992px){
    .box-1-2.bottom{
        height: 150px;
        grid-column-start: begin;
        grid-column-end: end;
    } 
}